/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
     #nav {
        display: block;
    }

    #nav > li {
        display:block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color:#fff;
        padding: 5px 16px
    }

    #header{
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }
    #header .moblie-meunu-btn {
        display: block;
    }
   
    #content .member-item {
        width: 100%;
        margin-bottom: 30px;
    };

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }
}